<div *ngIf="loading" class="loader"></div>
<div class="button-bar">
  <button (click)="back()" [disabled]="start == 0">
    Previous
  </button>
  <button (click)="next()" [disabled]="end > listings.length">
    Next
  </button>
</div>
{{end}}
{{pageShow}}
{{listings.length}}
<div class="listings">
  <ng-container *ngFor="let listing of listings; index as i" >
    <div *ngIf="((i > start - 1) && (i < end+1))" class="listing">

      <a [routerLink]="'/thread/' + listing.id">{{listing.title}}</a>
    </div>
  </ng-container>
</div>
